[submodule "deps/tvision"]
	path = deps/tvision
	url = https://github.com/magiblot/tvision
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libclipboard"]
	path = deps/libclipboard
	url = https://github.com/jtanx/libclipboard.git
